{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<link rel="apple-touch-icon" href="{{ base_path }}/images/icon.jpeg"/>
<link rel="icon" type="image/jpeg" href="{{ base_path }}/images/icon.jpeg"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<meta name="theme-color" content="#f6f8fb" media="(prefers-color-scheme: light)"/>
<meta name="theme-color" content="#111923" media="(prefers-color-scheme: dark)"/>

<!-- end custom head snippets -->
